<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">Fambook v1.0</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="dist/img/avatar04.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Admininistrator</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
           
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>
              Setup Module
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-info right"></span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="penSetup.html" class="nav-link">
                <i class="fa fa-home nav-icon"></i>
                <p>Pens</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="customersetup.html" class="nav-link">
                <i class="far fa-user nav-icon"></i>
                <p>Customer</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="suppliersetup.html" class="nav-link">
                <i class="far fa-user nav-icon"></i>
                <p>Supplier</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="eggSetup.html" class="nav-link">
                <i class="fa fa-shopping-basket nav-icon"></i>
                <p>Eggs</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="feedsetup.html" class="nav-link">
                <i class="fas fa-blender	 nav-icon"></i>
                <p>Feeds</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="drugsetup.html" class="nav-link">
                <i class="fa fa-flask nav-icon"></i>
                <p>Drugs</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/layout/collapsed-sidebar.html" class="nav-link">
                <i class="fas fa-university	 nav-icon"></i>
                <p>Banks</p>
              </a>
            </li>
            
            <li class="nav-item">
              <a href="pages/layout/collapsed-sidebar.html" class="nav-link">
                <i class="fa fa-building nav-icon"></i>
                <p>Account Group</p>
              </a>
            </li>
            
            <li class="nav-item">
              <a href="pages/layout/collapsed-sidebar.html" class="nav-link">
                <i class="fa fa-building nav-icon"></i>
                <p>Account SubGroup</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="pages/layout/collapsed-sidebar.html" class="nav-link">
                <i class="fa fa-book nav-icon"></i>
                <p>GL. Maintenance</p>
              </a>
            </li>

          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Accounts Module
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="receipt.html" class="nav-link">
                <i class="fa fa-building nav-icon"></i>
                <p>Customer Receipt </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="payment.html" class="nav-link">
                <i class="fa fa-building nav-icon"></i>
                <p>Supplier Payment </p>
              </a>
            </li>
            
            <li class="nav-item">
              <a href="customerDebitnote.html" class="nav-link">
                <i class="fa fa-building nav-icon"></i>
                <p>Customer Debit notes </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="customerCreditnote.html" class="nav-link">
                <i class="fa fa-building nav-icon"></i>
                <p>Customer Credit notes</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="supplierDebitnote.html" class="nav-link">
                <i class="fa fa-building nav-icon"></i>
                <p>Supplier Debit notes</p>
              </a>
            </li>
            
            <li class="nav-item">
              <a href="supplierCreditnote.html" class="nav-link">
                <i class="fa fa-building nav-icon"></i>
                <p>Supplier Credit notes</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="journal.html" class="nav-link">
                <i class="fa fa-building nav-icon"></i>
                <p>Journal Entry</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="stockadjustment.html" class="nav-link">
                <i class="fa fa-building nav-icon"></i>
                <p>Stock Adjustment</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="reversal.html" class="nav-link">
                <i class="fa fa-building nav-icon"></i>
                <p>Transactions Reversals</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tree"></i>
            <p>
              Admin Module
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="pages/UI/general.html" class="nav-link">
                <i class="fa fa-filter nav-icon"></i>
                <p>End of Pen Process</p>
              </a>
            </li>
            
            <li class="nav-item">
              <a href="equilibriumsetting.html" class="nav-link">
                <i class="fa fa-cog nav-icon"></i>
                <p>Equilibrium Settings</p>
              </a>
            </li>
             
          </ul>
        </li>

        
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>
              Data Report
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <!-- <li class="nav-item">
              <a href="penslist.html" class="nav-link">
                <i class="fa fa-filter nav-icon"></i>
                <p>Pens List</p>
              </a>
            </li> -->
            <li class="nav-item">
              <a href="customerledger.html" class="nav-link">
                <i class="fa fa-cog nav-icon"></i>
                <p>Customer Ledger</p>
              </a>
            </li>
             
            <li class="nav-item">
              <a href="supplierledger.html" class="nav-link">
                <i class="fa fa-cog nav-icon"></i>
                <p>Supplier Ledger</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="debtorslist.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Debtors List</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="creditorslist.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Creditors List</p>
              </a>
            </li>

            <li>
              <a href="contribution.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Contribution</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="investment.html" class="nav-link">
                <i class="fa fa-cog nav-icon"></i>
                <p>Cost Analysis</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="salesanalysis.html" class="nav-link">
                <i class="fa fa-columns nav-icon"></i>
                <p>Sales</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="production.html" class="nav-link">
                <i class="fa fa-cubes nav-icon"></i>
                <p>Production</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="mortality.html" class="nav-link">
                <i class="fa fa-ambulance nav-icon"></i>
                <p>Mortality</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="expense.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Expense Report</p>
              </a>
            </li>
            
            <li class="nav-item">
              <a href="stockCard.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Stock Movement Report</p>
              </a>
            </li>
            
            <li class="nav-item">
              <a href="productslist.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Products Stock Report</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="feedslist.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Feed Stock Report</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="drugslist.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Drugs Stock Report</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="feedusage.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Feeds/Drugs Usage Report</p>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a href="drugslist.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Feed Usage Report</p>
              </a>
            </li> -->
          </ul>
        </li>
         

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-chart-bar"></i>
            <p>
              Graph Report
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="graph_rep.html" class="nav-link">
                <i class="far fa-chart-pie nav-icon"></i>
                <p>Production Graph</p>
              </a>
            </li>
            <!-- <li class="nav-item">
              <a href="chartjs.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>DataTables</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/tables/jsgrid.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>jsGrid</p>
              </a>
            </li> -->
          </ul>
        </li> 
          
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-chart-bar"></i>
            <p>
              Financial Report
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            

            <!-- <li class="nav-item">
              <a href="profitability.html" class="nav-link">
                <i class="far fa-dollar nav-icon"></i>
                <p>Profitability</p>
              </a>
            </li> -->
            <li class="nav-item">
              <a href="profitandloss.html" class="nav-link">
                <i class="far fa-pounds nav-icon"></i>
                <p>Profit and Loss</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="trialbalance.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Trial Balance</p>
              </a>
            </li>

            <!-- <li class="nav-item">
              <a href="balancesheet.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p> Balance Sheet</p>
              </a>
            </li> -->
            
          </ul>
        </li> 
          
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
