<header class="header black-bg">
  <div class="sidebar-toggle-box">
    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
  </div>
  <!--logo start-->
  <a href="dashboard" class="logo"><b>FAMBOOK<span>IO</span></b></a>
  <div class="nav notify-row" id="top_menu">
    <!--  notification start -->
  
  </div>
  <div class="top-menu">
    <ul class="nav pull-right top-menu">
      <li><a class="logout" href="login">Logout</a></li>
    </ul>
  </div>
</header>

<aside>
    <div id="sidebar" class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">
        <p class="centered"><a href="profile"><img src="img/user1.png" class="img-circle" width="80"></a></p>
        <h5 class="centered">Dele</h5>
        <li class="mt">
          <a class="active" href="dashboard">
            <i class="fa fa-dashboard"></i>
            <span>Dashboard</span>
            </a>
        </li>
        <li class="sub-menu">
          <a href="javascript:;">
            <i class="fa fa-desktop"></i>
            <span>Setup Module</span>
            </a>
          <ul class="sub">
              <li><a href="penSetup">Pens</a></li>
           <li><a href="customersetup">Customer</a></li>
              <li><a href="suppliersetup">Supplier</a></li>
            <li><a href="eggSetup">Eggs</a></li>
           <li><a href="feedsetup">Feeds</a></li>
           <li><a href="drugsetup">Drugs</a></li>
          <li><a href="banks">Banks</a></li>
          <li><a href="accountgroup">Account Group</a></li>
           <li><a href="accountsubgroup">Account SubGroup</a></li>
           <li><a href="glmaintenance">GL Maintenance</a></li>
            
          </ul>
        </li>
        <li class="sub-menu">
          <a href="javascript:;">
            <i class="fa fa-money"></i>
            <span>Accounts Module</span>
            </a>
          <ul class="sub">
             
              <li><a href="customerreceipt">Customer Receipt</a></li>
           <li><a href="supplierpayment">Supplier Payment</a></li>
          <li><a href="customerdebitnote">Customer Debit Notes</a></li>
           <li><a href="suplliercrdeditnote">Supplier Credit Notes</a></li>
           <li><a href="journal">Journal Entry</a></li>
           <li><a href="stockadjument">Stock Adjustment</a></li>
           <li><a href="transactionreversals">Transactions Reversals</a></li>
            
          </ul>
        </li>
        <li class="sub-menu">
          <a href="javascript:;">
            <i class="fa fa-user"></i>
            <span>Admin Module</span>
            </a>
          <ul class="sub">
            <li><a href="endpen">End of Pen Process</a></li>
            <li><a href="equilibrium">Equilibrium Settings</a></li>
          
          </ul>
        </li>
        <li class="sub-menu">
          <a href="javascript:;">
            <i class="fa fa-book"></i>
            <span>Admin Reports</span>
            </a>
          <ul class="sub">
   <li><a href="customerledger"> Customer Ledger</a></li>
   <li><a href="supplierledger">Supplier Ledger</a></li>
   <li><a href="debtorslist">Debtors List</a></li>
   <li><a href="creditors">Creditors List</a></li>
  <li><a href="contribution">Contribution</a></li>
   <li><a href="costanalysis">Cost Analyesis</a></li>
  <li><a href="sales">Sales</a></li>
   <li><a href="productions">Production</a></li>
   <li><a href="mortality">Mortality</a></li>
  <li><a href="expense">Expense Report</a></li>
   <li><a href="stockmovement">Stock Movement</a></li>
  <li><a href="productstock">Products Stock Report</a></li>
   <li><a href="feedstock">Feed Stock Report</a></li>
   <li><a href="drugs">Drugs Stock Report</a></li>
  <li><a href="feedanddrugs">Feeds/Drugs Useage</a></li>
          
          </ul>
        </li>
        <li class="sub-menu">
          <a href="javascript:;">
              <i class=" fa fa-bar-chart-o"></i>
            <span>Graph Reports</span>
            </a>
          <ul class="sub">
              <li><a href="production"></a> Production</a></li>
              <li><a href="mortality">Mortality</a></li>
           
          </ul>
        </li>
       
        <li class="sub-menu">
          <a href="javascript:;">
            <i class=" fa fa-area-chart"></i>
            <span>Financial Reports</span>
            </a>
          <ul class="sub">
              <li><a href="profitandoss">     Profit and Loss</a></li>
                  <li><a href="trialbalance">Trial Balance</a></li>
                      <li><a href="gltrnsactions">GL Transactions</a></li>
           
          </ul>
        </li>
        <li>
          <a href="logout">
            <i class="fa fa-sign-out"></i>
            <span>Logout </span>
            
            </a>
        </li>
       
      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>